.project_page{
    background-color: #d9e9f1;
    color: rgb(0, 28, 85);
}
.project_page .project_container{
    margin: 40px 90px;
    padding-bottom: 50px;
}
.project_page .project_container .project_greeting{
    display: flex;
}

.project_page .project_container .project_greeting img{
    width: 500px;
}
.project_page .project_container .project_greeting .greeting_details{
    text-align: center;
}
.project_page .project_container .project_greeting .greeting_details h1{
    margin-top: 30px;
    font-weight: 700;
}
.project_page .project_container .project_greeting .greeting_details h4{
    font-weight: 600;
    line-height: 40px;
}

.project_container .project_content{
    margin-top: 100px;
    display: flex;
    flex-wrap:wrap;
}
.project_container .project_content a{
    text-decoration: none;
}

.project_container .project_content .project_card{
    margin-top: 20px;
    width: 520px;
    background-color: rgb(25, 63, 80);
    padding: 20px;
    color: white;
    cursor: pointer;
    line-height: 30px;
    margin-right: 20px;
}

.project_container .project_content .project_card .card_head{
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.project_container .project_content .project_card .card_head img{
    width: 25px;
    margin-right: 10px;
}
.project_container .project_content .project_card .card_body{
    position: relative;
    margin-bottom: 20px;
}
.project_container .project_content .project_card .card_body .craeted_at{
    color: rgb(127, 141, 170); 
}

.project_container .project_content .project_card .card_body ul{
    display: flex;
    list-style: none;
    position: absolute;
    top:60px;
    right:10px;
}
.project_container .project_content .project_card .card_body ul li img{
    width: 40px;
}

.project_page .footer{
    text-align: center;
    font-weight: 700;
    color: rgb(127, 141, 170); 
    padding-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    .project_page{
        width: 400px;
    }
    .project_page .project_container{
        margin: 0px 0px !important;
        padding-bottom: 50px;
    }
    .project_page .project_container .project_greeting{
        display: block;
        margin-top: 30px;
        text-align: center;
    }
    
    .project_page .project_container .project_greeting img{
        width: 350px;
    }
    .project_page .project_container .project_greeting .greeting_details{
        text-align: center;
    }
    .project_page .project_container .project_greeting .greeting_details h1{
        margin-top: 30px;
        font-size: 30px;
        font-weight: 700;
    }
    .project_page .project_container .project_greeting .greeting_details h4{
        font-weight: 600;
        font-size: 20px;
        padding: 0px 20px;
        line-height: 30px;
    }
    .project_container .project_content{
        display: block;
        margin-top: 70px;
        margin-left: 15px;
    }
    .project_container .project_content a{
        text-decoration: none;
    }
    
    .project_container .project_content .project_card{
        margin-top: 20px;
        margin-left: 15px;
        width: 350px;
        margin-right: 0px;
    }
    
    .project_container .project_content .project_card .card_head{
        display: flex;
        align-items: center;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .project_container .project_content .project_card .card_head img{
        width: 20px;
        margin-right: 10px;
    }
    .project_container .project_content .project_card .card_body{
        position: relative;
        margin-bottom: 20px;
    }
    .project_container .project_content .project_card .card_body .craeted_at{
        color: rgb(127, 141, 170); 
    }
    
    .project_container .project_content .project_card .card_body ul{
        display: flex;
        list-style: none;
        position: absolute;
        top:90px;
        right:10px;
    }
    .project_container .project_content .project_card .card_body ul li img{
        width: 30px;
    }
  }